@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&family=Oxygen&family=Sora&display=swap');

html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF2F9;
}

.myNav {
  height: 4rem;
  background-color: #fff;
}

.myLinks {
  font-size: 1.5rem;
  color: #0e1111;
  font-weight: 300;
  font-family: oxygen,sans-serif;
}

.myLinks:hover {
  color: #333;
  transition: all 200ms;
}

.myHeader {
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.myBrand {
  font-family: sora,sans-serif;
  font-size: 1.8rem;
  color: #0e1111;
}

.myBrand:hover {
  color: #0e1111;
  cursor: auto;
}

.myIcon {
  color: #0e1111;
  font-size: 1.5rem;
}

.myH1{
  font-family: old standard tt,sans-serif;
  font-weight: 800;
}

.content{
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  background-position:center;
  background-size: cover;
}

.myH1{
  font-family: sora,sans-serif;
  font-weight: 900;
}

.myButton {
  color: transparent;
}

.myMainImage {
  margin: 0;
  border-radius: 5rem;
}

.myMainImage:hover {
  border-radius: 1.5rem;
  border: 2px solid black;
}

.myFooter {
  text-decoration: none;
  color:#dbbbbb;
}

.myWholeFooter {
  font-family: oxygen,sans-serif;
  color: #fff;
  background-color: #0e1111;
}

/* blog  */

.myBlogContent {
  font-family: "sora",sans-serif;
  font-size: 1rem;
  color: #333;
}


.myContactContent {
  font-family: "old standard tt",sans-serif ;
}

.myInfo {
  font-family: sora, Geneva, Tahoma, sans-serif;
  color: #0e1111;
}

.myRecipesContent {
  font-family: "oxygen",sans-serif ;
  font-size: 1.5rem;
  color: #333;
}

/* media queries  */

