body {
  background-color: #0e1111;
  font-family: "Abril fatface", sans-serif;
  color: #da581c;
}

.myNav {
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 400;
  background-color: #0e1111;
}

.myLinks {
  color: #da581c;
  font-family: "Poppins",sans-serif;
}

.myLinks:hover {
  font-size: 2.6rem;
  color: #e61212e5;
  transition: all 200ms;
}

.myHeader {
  border-radius: 1rem;
  background-color: #0e1111;
}

.myBrand {
  font-family: "Poppins",sans-serif;
  font-size: 2rem;
  color: #da581c;
}

.myBrand:hover {
  color: #e61212e5;
  cursor: auto;
}

.myIcon {
  color: #da581c;
  font-size: 2rem;
}

.myButton {
  color: transparent;
}

.myMainImage {
  border-radius: 1rem;
  border: 1px solid #0e1111;
}

.myMainImage:hover {
  border-radius: 1.5rem;
  border: 2px solid black;
}

.myFooter {
  text-decoration: none;
  color: #e61212e5;
}

.myWholeFooter {
  font-family: "Poppins",sans-serif;
}

/* blog  */

.myBlogContent {
  font-family: "PT sans",sans-serif;
  font-size: 1rem;
  color: aliceblue;
}


.myContactContent {
  font-family: "Poppins",sans-serif ;
}

.myInfo {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #e61212e5;
}

.myRecipesContent {
  font-family: "Poppins",sans-serif ;
  font-size: 1.8rem;
  color: aliceblue;
}